.container {
  background-color: #091928;
  height: 100%;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 250px;
}

.siteTitle {
  color: #ffffff;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 43px;
  padding-left: 10px;
  padding-top: 16px;
}

.logo {
  margin-right: 11px;
}

.menuContainer {
  display: inline-flex;
  flex-direction: column;
}
