.container {
  display: inline-flex;
  flex-direction: column;
  margin: 0 48px;
  max-height: calc(100vh - 80px);
  max-width: 1050px;
  padding-top: 48px;
  width: 100%;
}

.filterToggle {
  height: 37px;
  margin-bottom: 25px;
  position: fixed;
}
